.colorOffer{
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid  rgba(255, 255, 255, 0.1);
border-radius: 17px;
background: #121212;
color: white;
padding: 20px;
text-align: center;
font-size: 18px;
width: 250px;
height: 400px;
margin: auto;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.4);
}
.FFF{
width: 150px;
height: 150px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 17px;
margin: 10px;
object-position: center-top;
}
.FFF:hover{
box-shadow: 0 4px 20px(255, 215, 0, 0.4);
transition: box-shadow 0,3s;
}
body{ 
background: #323232;
font-family: ui-rounded, 'Arial Rounded MT Bold','Arial Rounded MT','Segoe UI', system-ui, -apple-system, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: graycale;
letter-spacing: -0.01em;
font-weight: 600;

}
.newPrice{
text-transform: capitalize;
}
.colorOffer h2{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
text-transform: uppercase;
min-height: 48px;
}
.colorOffer a{
background: white;
color: black;
border: 1px solid rgba(255,255,255, 0.1);
border-radius: 30px;
font-size: 15px;
padding: 10px;
text-transform: uppercase;
text-decoration: none;
}
.colorOffer a:hover{
background: #cacaca;
transition: background 0,3s;
color: white;
transition: color 0,3s;
border: 1px solid #323232;
transition: border 0,3s;
}
.oldPrice{
text-transform: capitlize;
color: white;
}
#ofertCards{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
gap: 25px;
}
nav{
position: fixed;
width: 100%;
left: 0;
bottom: 0;
background: rgba(18,18,18, 0.75);
border-top: 1px solid rgba(255, 255, 255, 0.1);
text-transform: uppercase;
color: white;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
z-index: 1000;
}
.links-nav{
display: flex;
justify-content: space-between;
font-size: 20px;
}
.links-nav a{
padding: 15px;
color: white;
text-decoration: none;
text-transform: uppercase;
}
.links-nav a:hover{
color: #cacaca;
transition: color 0,3s;
}
.profil-nav{
display: flex;
justify-content: space-between;
padding: 15px;
color: white;
text-transform: uppercase;
font-size: 25px;
}
#serchInput{
border: 1px solid #0a0a0a;
border-radius: 15px;
font-size: 20px;
margin: 10px;
width: 70%;
height: 70%;
}
#serchInput::placeholder{
font-size: 17px;
}
label{
background: white;
color: #0a0a0a;
border: 1px solid #0a0a0a;
border-radius: 20px;
font-size: 15px;
padding: 10px;
}
.logo{
color: white;
padding-top: 8px;
text-transform: capitalize;
}
.siting{
background: #121212;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
font-size: 20px;
padding: 10px;
text-transform: uppercase;
color: white;
margin-top: 5px;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.4);
}
.siting:hover{
color: black;
transition: color 0,3s;
background: #cacaca;
transition: background 0,3s;
}
.hidden{
display: none !important;
}
#serchView{
display: flex;
flex-direction: column;
background: white;
font-size: 30px;
text-align: center;
align-items: center;
}
#serch{
position: fixed;
width: 90%;
bottom: 0;
max-width: 550px;
box-sizing: border-box;
padding: 14px 30px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
background: rgba(18, 18, 18, 0.75);
color: white;
margin-bottom: 65px;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.4);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
z-index: 1900;
font-size: 16px;
}
#serch:hover{
box-shadow: 0 4px 20px rgba(202, 202, 202, 0.4);
transition: box-shadow 0,3s;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
z-index: 1900;
}

#serch::placeholder{
font-size: 18px;
background: rgba(18, 18, 18, 0.75);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
z-index: 1900;
}
.YYY{ 
display: flex;
flex-direction: column;
align-items: center;
background: #121212;
width: 250px;
height: 850px;
color: white;
padding: 30px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 17px;
margin: auto;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.4);
}
.jjj{
padding: 10px;
color: white;
border: 1px solid #121212;
background: #121212;
margin: 15px auto;
text-transform: uppercase;
font-size: 18px;
}
input{
color: white;
border-radius: 30px;
width: 280px;
padding: 10px 5px;
background-color: #323232;
border: 1px solid #121212;
font-size: 16px;
}
#premiumBtn{
color: white;
background: linear-gradient(135deg, #2b0307 0%, #720917 40%, #a81327 70%, #4a040d 100%);
text-decoration: none;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
font-size: 20px;
padding: 10px;
margin-top: 5px;
}
#premiumBtn:hover{
color: black;
transition: color 0,3s;
box-shadow: 0 4px 20px rgba(137, 147, 158, 0.4);
transition: background 0,3s;
border: 1px solid #121212;
transition: border 0,3s;
}

.Holabuenas{
position: relative;
display: flex; 
flex-direction: column;
align-items: left;
background: #121212;
font-size: 18px;
color: white;
padding: 20px;
border: 1px solid rgba(255, 255, 255, 0.1);
margin: 15px auto;
border-radius: 17px;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.4);
}
.Holabuenas:hover{
box-shadow: 0 4px 20px rgba(137, 147, 158, 0.4);
transition: box-shadow 0,3s;
border: 1px solid #323232;
transition: border 0,3s;
}
.Holabuenas p{
text-transform: uppercase;
color: white;
padding: 15px;
font-size: 15px
}
.Holabuenas p:hover{
color: black;
transition: color 0,3s;
}
#planesCool{
display: grid;
}
.Holabuenas h2{
text-transform: uppercase;
font-size: 30px;
margin-top: 50px;
}
footer{
font-size: 15px;
text-align: center;
margin-top: auto;
color: gray;
text-transform: capitalize;
}
.Holabuenas a{
margin-top: 15px;
background: white;
text-decoration: none;
color: black;
border: 1px solid #323232;
border-radius: 30px;
padding: 10px;
text-align: center;
background:linear-gradient(135deg, #1a0b2e 0%, #3d1461 25%, #5b2c83 50%, #7d55c7 75%, #bda6f2 100%);
border: 1px solid #121212;
}
#selectBtn{
width: 250px;
border-radius: 30px;
padding: 10px;
background: #323232;
color: white;
border: 1px solid rgba(255, 255, 255, 0.1);
}
#foto{
width: 150px;
}
.telefono{
display: flex;
align-items: center;
}
.telefono input{
flex: 1;
width: 200px;
}
.perfilBadgs{
position: absolute;
top: 0;
left: 0;
font-weight: 900;
border-radius: 17px 0px 17px 0px;
font-size: 12px;
padding: 5px 25px;
color: #121212;

}
#telefono{
margin: 5px;
}
hr{
color: white;
width: 245px;
color: linear-gradient(135deg, #89939E, #dce3ea, #4b5563);
}
#modofiltrar{
position: fixed;
display: flex;
flex-direction: column;
justify-content: space-between;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 999;
background: rgba(18,18,18, 0.75);
padding: 15px;
border: 1px solid rgba(255, 255, 255, 0.1);
width: 250px;
height: 396px;
border-radius: 17px;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
}
.ciudadSelect{
color: white;
font-size: 12px;
text-align: center;
margin: 5px;
}
.servicioSelect{
color: white;
font-size: 12px;
text-align: center;
margin: 15px;
}
#buttonSelect{
margin-top: auto;
padding: 10px;
background: #323232;
color: white;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
}
#buttonSelect:hover{
color: black;
transition: color 0,3s;
background: #cacaca;
transition: background 0,3s;
}

.premium .perfilBadgs {
background: linear-gradient(135deg, #89939E, #dce3ea, #4b5563);

}
.premium a{
background: linear-gradient(135deg, #89939E, #dce3ea, #4b5563);

}
.exclusivo .perfilBadgs {
background: linear-gradient(135deg, #d4af37, #aa771c);
}
.exclusivo a{
background: linear-gradient(135deg, #d4af37, #aa771c);
}
.exclusivo {
opacity: 0.8;
}
.business .perfilBadgs {
background: linear-gradient(135deg, #2b0307 0%, #720917 40%, #a81327 70%, #4a040d 100%);
}
.business a{
background: linear-gradient(135deg, #2b0307 0%, #720917 40%, #a81327 70%, #4a040d 100%);
}
.business{
position: relative;
}
.business::before{
content: '';
position: absolute;
inset: -3px;
background: linear-gradient(135deg, #2b0307 0%, #720917 40%, #a81327 70%, #4a040d 100%);
border-radius: 19px;
z-index: -1;
}
.business .inclotodo:hover{
color: #5b2c83 ;
transition: color 0,3s;
}
#buttonCrear{
display: flex;
flex-direction: conter;
margin: auto;
padding: 10px;
border-radius: 30px;
width: 280px;
justify-content: center;
}
.selectCss{
padding: 10px;
color: white;
background: #323232;
border-radius: 30px;
border: 1px solid rgba(255, 255, 255, 0.1);
}
#buttonEnviar{
margin-top: 15px;
width: 260px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
padding: 10px;
}
.crearBtn{
display: flex;
justify-content: center;
color: balck;
}
#nuevoBtn{
padding: 10px;
margin: 8px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
width: 150px;
color: black;
}
#cauntBtn{
padding: 10px;
margin: 8px;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 30px;
width: 140px;
color: black;
}
.cardsCss{
margin-bottom: 30px;
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid  rgba(255, 255, 255, 0.1);
border-radius: 17px;
background: #121212;
color: white;
padding: 20px;
text-align: center;
font-size: 18px;
width: 250px;
height: 400px;
margin: auto;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.4);
}
